<div class="Opinion">
  <div class="Header">
    Get Name Here Later
  </div>
  <div class="Ratings">
    <table>
      <tr>
        <th><app-rating name="rating1"></app-rating></th>
        <th><app-rating name="rating2"></app-rating></th>
        <th><app-rating name="rating3"></app-rating></th>
        <th><app-rating name="rating4"></app-rating></th>
        <th><app-rating name="rating5"></app-rating></th>
        <th><app-rating name="rating6"></app-rating></th>
        <th><app-rating name="rating7"></app-rating></th>
        <th><app-rating name="rating8"></app-rating></th>
        <th><app-rating name="rating9"></app-rating></th>
        <th><app-rating name="rating10"></app-rating></th>
        <th><app-rating name="rating11"></app-rating></th>
        <th><app-rating name="rating12"></app-rating></th>
        <th><app-rating name="rating13"></app-rating></th>
        <th><app-rating name="rating14"></app-rating></th>
        <th><app-rating name="rating15"></app-rating></th>
        <th><app-rating name="rating16"></app-rating></th>
      </tr>
    </table>
  </div>
  <div class="Review">
    <app-review></app-review>
  </div>
  <div class="OpinionRating">
    <app-opinion-rating></app-opinion-rating>
  </div>
</div>

