* {
  color: #adadad;
  font-family: "Helvetica";
}

.OpinionContainer {
  display: block;
  width: 95%;
  margin: auto;
  padding: 10px;

  height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
}

app-complete-opinion {
  display: block;
}
