<html>
<head>
  <meta charset="utf-8">
  <title>Opinion Controller - Rejestracja</title>
</head>
<body>
<section class="container-fluid min-vh-100 vw-100">
  <div class="container py-1 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <alert type="success"
               [dismissible]="true"
               [isOpen]="isSuccessAlertOpen"
               (onClosed)="onCloseSuccessAlert()">
          <p class="text-center">We have sent password reset email message for given address</p>
        </alert>
        <alert type="warning"
               [dismissible]="true"
               [isOpen]="isWarningAlertOpen"
               (onClosed)="onCloseWarningAlert()">
          <p class="text-center">User with given email does not exist</p>
        </alert>
        <alert type="danger"
               [dismissible]="true"
               [isOpen]="isFailureAlertOpen"
               (onClosed)="onCloseFailureAlert()">
          <p class="text-center">Unknown error has occurred</p>
        </alert>
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-2">

              <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
              <p class="text-white-50 mb-5">Please enter your user account's verified email address</p>

              <div class="form-outline mb-4">
                <input type="email" id="typeEmailReset" class="form-control form-control-lg bg-dark text-white" [(ngModel)]="email"/>
                <label class="form-label" for="typeEmailReset">E-mail</label>
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="resetPassword()">Send password reset e-mail</button>

            </div>

            <div>
              <p class="mb-0"><a href="" class="text-white fw-bold" (click)="redirectToMainPage()">Go back to the main page</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
