<html>
<head>
  <meta charset="utf-8">
  <title>Opinion Controller - Reset message</title>
</head>
<body>
<section class="container-fluid min-vh-100 vw-100">
  <div class="container py-1 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-2">

              <div class="fw-bold mb-2 text-uppercase">{{message}}</div>
              <p class="text-white-50 mb-5">Now you can sign in</p>

            </div>

            <div>
              <p class="mb-2"><a href="/login" class="text-white fw-bold" (click)="redirectToLoginPage()">Go back to the login page</a></p>
            </div>
            <div>
              <p class="mb-0"><a href="" class="text-white fw-bold" (click)="redirectToMainPage()">Go back to the main page</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
