@import url("../../../styles.css");

body {
  color: #000000;
  background-color: #ade8f4;
}

.product-panel {
  margin: 0 3em 3em 3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: #48cae4;
  box-shadow: 0 5px #00b4d8;
}

.sub-panel {
  margin: 1em;
  padding: 1em;
  background-color: #0096c7;
  box-shadow: 0 5px #0077b6;
}

.link
{
   color: #eeeeee;
   text-decoration: none; 
   background-color: none;
}

p {
  margin: 1em;
  font-family: "Verdana", Sans-serif;
  font-size: 45px;
  text-align: center;
}

h1 {
  display: inline-block;
  margin-left: 15px;
}

button {
  padding: 0.3em;
  background-color: #035672;
  border-radius: 5px 5px 7px 7px;
  border-color: #013a4d;
  color: #eeeeee;
  box-shadow: 0 5px #07495f;
}

button:hover {
  background-color: #035672b6;
  transform: translateY(-1px);
  box-shadow: 0 6px #07495fbe;
}

button:active {
  background-color: #024157;
  transform: translateY(2px);
  box-shadow: 0 6px #053444;
}