<html>
  <head>
    <title>Produkt</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="produkt-widok.component.css">
  </head>
  <body>
    <div class="product-panel">
      <p>{{getProductName()}}</p>
      <div class="sub-panel">
      <div>
        <button>
          <a href="produkt-modyfikacja">
            <div class="link">
              Modyfikuj
            </div>
          </a>
          </button>
        <button (click)="onClick()">Usuń</button>
        <button (click)="onClick()">Dodaj sugestie</button>
      </div>
            <img style="display: inline-block;" width="300" height="500" src="https://www.ikea.com/pl/pl/images/products/utespelare-biurko-gamingowe-jasnoszary__0998214_pe822969_s5.jpg?f=s" alt="Zdjęcie produktu"/>      
      </div>
      <div class="sub-panel">
        <h1>Dane produktu:</h1>
            <h2>Opis:</h2>
            <div style="display: block"><h3>{{getProductDescription()}}</h3></div>
            <h2>Kategoria: </h2>
            <div style="display: block"><h3>{{getProductCategory()}}</h3></div>
            <h2>Atrybuty:</h2>
            <div style="display: block"><h3>{{getProductAttributes()}}</h3></div>
      </div>
    </div>
  </body>
</html>