.report {
  background-color: #353535;
  margin: 0 auto 10px auto;
  border-radius: 12px;
  padding: 20px;
  width: 500px;
}

.status {
  background-color: aqua;
  padding: 5px;
  border-radius: 5px;
  color: black;
  display: block;
  width: 200px;
}

.type {
  background-color: yellowgreen;
  margin: 10px 0 10px auto;
  display: block;
  color: black;
  padding: 5px;
  width: 200px;
}

.type::before {
  transform: translate(-40px, -5px);
  background-color: indianred;
  position: absolute;
  content: "Type";
  font-size: 10px;
  display: block;
  line-height: 12px;
  padding: 5px;
}

.opinion {
  background-color: crimson;
  margin-bottom: 10px;
  border-radius: 5px;
}

.opinion > h2 {
  border-bottom: 2px solid #353535;
  font-weight: 500;
  margin-bottom: 0;
  padding: 5px;
}

.opinion > p {
  margin-bottom: 0;
  padding: 5px;
}

.description > h4 {
  margin-bottom: 0;
  font-weight: 500;
}

.description > p {
  padding: 20px 10px 20px 10px;
  background-color: #232323;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  display: block;
}
