.container-fluid {
  background-image: url("src/assets/gradient_background.jpg");
}
table {
  width:100%;
}

span {
  padding:10px;
}

::ng-deep .mat-select-value {
  color: white;
}

::ng-deep .dropdown-menu-dark {
  color: red;
}
