<div class="container">
  <div class="row">
    <div class="col">
      <h2>Wyszukaj produkt:</h2>
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <input type="text" class="form-control" id="phrase-product" placeholder="Nazwa produktu">
            <label for="phrase-product">Fraza</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select class="form-select" id="select-category">
              <option selected>Wszystkie kategorie</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <label for="select-category">Kategoria</label>
            <button type="button" class="btn btn-primary float-end mt-2">Wyszukaj produkt</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>Wyszukaj profil użytkownika:</h2>
      <div class="row">
        <form (ngSubmit)="searchProducts()" #userForm="ngForm" class="form-floating">
          <input type="text" class="form-control" id="phrase-user" placeholder="Nazwa użytkownika" [(ngModel)]="model.nickname" name="nickname" required>
          TODO: remove this: {{model.nickname}}
          <label for="phrase-user">Nazwa użytkownika</label>
          <button type="submit" class="btn btn-primary float-end mt-2"
          [disabled]="!userForm.form.valid">Wyszukaj profil użytkownika</button>
        </form>
      </div>
    </div>
  </div>
  <ol class="list-group mt-2" *ngFor="let profile of searchedProfiles">
    <li class="list-group-item">{{profile.nickname}}</li>
  </ol>
</div>
