table {
  width:100%;
}

span {
  padding:10px;
}

::ng-deep .mat-select-value {
  color: white;
}

::ng-deep .dropdown-menu-dark {
  color: red;
}

.mat-row .mat-cell {
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
