<div class="container">
  <div class="row">
    <div class="col">
      <h2>Wyszukaj produkt:</h2>
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <input type="text" class="form-control" id="phrase-product" placeholder="Nazwa produktu">
            <label for="phrase-product">Fraza</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select class="form-select" id="select-category">
              <option selected>Wszystkie kategorie</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <label for="select-category">Kategoria</label>
            <button type="button" class="btn btn-primary float-end mt-2">Wyszukaj produkt</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>Wyszukaj profil użytkownika:</h2>
      <div class="row">
        <form (ngSubmit)="searchProfiles()" #userForm="ngForm" class="form-floating">
          <input type="text" class="form-control" id="phrase-user" placeholder="Nazwa użytkownika" [(ngModel)]="model.nickname" name="nickname" required>
          TODO: remove this: {{model.nickname}}
          <label for="phrase-user">Nazwa użytkownika</label>
          <button type="submit" class="btn btn-primary float-end mt-2"
          [disabled]="!userForm.form.valid">Wyszukaj profil użytkownika</button>
        </form>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element">{{element.userId}}</td>
      </ng-container>
      <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa użytkownika </th>
        <td mat-cell *matCellDef="let element">{{element.nickname}}</td>
      </ng-container>
      <ng-container matColumnDef="numberOfOpinions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ilość opinii </th>
        <td mat-cell *matCellDef="let element">{{element.numberOfOpinions}}</td>
      </ng-container>
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Wynik </th>
        <td mat-cell *matCellDef="let element">{{element.score}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator #paginator
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
