<div class="profile-panel">
  <div class="sub-panel">
    <img width="200" height="200" style="border-radius: 100%" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Fdefault-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392%3Fk%3D6%26m%3D1223671392%26s%3D612x612%26w%3D0%26h%3DNGxdexflb9EyQchqjQP0m6wYucJBYLfu46KCLNMHZYM%3D&f=1&nofb=1&ipt=ba4480b3b1596ccfd8c23ca2cd3372454f5b76cf43b6a23a9b414f29ff320406&ipo=images" alt="Zdjęcie profilowe"/>
    <h1>Pseudonim użytkownika</h1>
    <br/>
    <div style="display: inline-block; margin-bottom: 1em">
      <h3>O mnie</h3>
      Tutaj jest opis użytkownika. Lubię pociągi. AAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAA
    </div>
    <br/>
    <button [routerLink]="['/panel-edycji']">Edytuj profil</button>
    <button [routerLink]="['/panel-administratora']">Panel administratora</button>
  </div>
  <div class="sub-panel">
    <h3>Ocenione produkty</h3>
    <div class="scroller-sub-panel">
      <div class="sub-sub-panel" *ngFor="let opinion of mock_opinions">
        <img width="100" height="100" style="border-radius: 20px" [src]="opinion.img" alt="Zdjęcie produktu"/>
        <h1>{{ opinion.product }}</h1>
        <div style="display: block">{{opinion.text}}</div>
        <br/>
        <button>Przejdź do produktu</button>
      </div>
    </div>
  </div>
</div>
