<html>
<body>
<div class="card bg-dark text-white" style="width: 90%; margin: auto; padding: 1em 2em; display: block">
  <div class="card bg-white text-white bg-opacity-10" style="padding: 1em; display: block">
    <img width="200" height="200" style="border-radius: 100%" src="{{mock_user.profile_picture}}" alt="Zdjęcie profilowe"/>
    <h1 style="font-size: 40px"> {{mock_user.name}} </h1>
    <h1>
      <div [hidden]="!mock_user.isBanned" style="color: red">
        [KONTO ZABLOKOWANE]
      </div>
    </h1>
    <br/>
    <div style="display: block; margin-bottom: 1em;">
      <h3><i>O mnie</i></h3>
      {{mock_user.description}}
    </div>
    <br/>
    <button class="btn btn-primary" style="margin: 0 1em 0 0" [hidden]="!isCurrent" (click)="redirectToEdit()">Edytuj profil</button>
    <button class="btn btn-primary" [hidden]="!mock_user.isAdmin || !isCurrent" (click)="redirectToAdmin()">Panel administratora</button>
  </div>
  <div class="card bg-white text-white bg-opacity-10" style="margin-top: 5em; display: block">
    <h3>Ocenione produkty</h3>
    <app-opinie [pageType]=pageTypes id="639b7603f04872ad0164cf8a"></app-opinie>
<!--    <div class="scroller-sub-panel">-->
<!--      <div class="sub-sub-panel" *ngFor="let opinion of mock_opinions">
        <img width="100" height="100" style="border-radius: 20px" [src]="opinion.img" alt="Zdjęcie produktu"/>
        <h1>{{ opinion.product }}</h1>
        <div style="display: block">{{opinion.text}}</div>
        <br/>
        <button>Przejdź do produktu</button>
        <button>Like: {{opinion.likes}} </button>
        <button>Dislike: {{opinion.dislikes}}</button>
      </div>-->
<!--    </div>-->
  </div>
</div>
</body>
</html>
