<div *ngIf="isNotAccepted" class="report {{ wasNotRejected == true ? 'notRejected' : 'rejected' }}">
  <h1>Raport {{report.id}}</h1>
  <p class="type">{{report.type}}</p>
  <div class="user">
    <h2>Użytkownik</h2>
    <p>Imię {{report.user.name}}</p>
    <p>Nazwisko Kowalski</p>
  </div>
  <div class="product">
    <h2>Product</h2>
    <p>Nazwa {{report.product.name}}</p>
    <p>Cena 31.22zł</p>
  </div>
  <div class="description">
    <h4>Description</h4>
    <p>{{report.description}}</p>
  </div>
  <button class="acceptButton" (click)="acceptProduct()">Accept</button>
  <button class="rejectButton" (click)="rejectProduct()">Reject</button>
</div>
