.report {
  background-color: #353535;
  margin: 0 auto 10px auto;
  border-radius: 12px;
  padding: 20px;
  width: 500px;
}

.rejected {
  background-color: #701919;
}

.type {
  background-color: yellowgreen;
  margin: 10px 0 10px auto;
  display: block;
  color: black;
  padding: 5px;
  width: 200px;
}

.type::before {
  transform: translate(-40px, -5px);
  background-color: indianred;
  position: absolute;
  content: "Type";
  font-size: 10px;
  display: block;
  line-height: 12px;
  padding: 5px;
}

.user {
  background-color: blueviolet;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user > h2 {
  border-bottom: 2px solid #353535;
  font-weight: 500;
  margin-bottom: 0;
  padding: 5px;
}

.user > p {
  margin-bottom: 0;
  padding: 5px;
}

.opinion {
  background-color: crimson;
  margin-bottom: 10px;
  border-radius: 5px;
}

.opinion > h2 {
  border-bottom: 2px solid #353535;
  font-weight: 500;
  margin-bottom: 0;
  padding: 5px;
}

.opinion > p {
  margin-bottom: 0;
  padding: 5px;
}

.description > h4 {
  margin-bottom: 0;
  font-weight: 500;
}

.description > p {
  padding: 20px 10px 20px 10px;
  background-color: #232323;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  display: block;
}

.report > button {
  border: 2px solid #232323;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
}

.report > .acceptButton {
  background-color: darkslategray;
}

.report > .acceptButton:hover {
  background-color: #3e6969;
}

.report > .acceptButton:active {
  background-color: #4d8282;
}

.report > .rejectButton {
  background-color: #b93232;
  margin-left: 10px;
}

.report > .rejectButton:hover {
  background-color: #d43939;
}

.report > .rejectButton:active {
  background-color: #ed4040;
}
