.Rating {
  display: inline-block;
  min-width: 150px;
  padding: 2px;
  width: auto;
  border: #334465 1px outset;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  margin: auto;
  white-space: nowrap;
}

.Content {
  display: inline-block;
  padding: 5px;
}
