<div class="admin-dashboard-panel">
  <div class="sub-panel">
    <h2>Zarządzanie produktami</h2>
    <button>Dodaj nowy produkt</button>
    <br/><br/>
    <button>Zmień właściwości produktu</button>
    <br/><br/>
    <button>Ukryj produkt</button>
    <br/><br/>
    <button>Usuń produkt</button>
  </div>
  <div class="sub-panel">
    <h2>Zarządzanie sugestiami</h2>
    <button>Wyświetl sugestie</button>
    <br/><br/>
    <button>Odpowiedz na sugestie</button>
  </div>
  <div class="sub-panel">
    <h2>Chińska cenzura</h2>
    <button>Usuń opinię</button>
    <br/><br/>
    <button>Zablokuj użytkownika</button>
  </div>
</div>
