<html>
  <head>
    <title>Produkt</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="produkt.component.css">
  </head>
  <body>
    <div class="product-panel">
      <p>Produkt</p>
      <div>
        <div>
          <button>
          <a href="produkt-dodanie">
            <div class="link">
              Dodaj produkt
            </div>
          </a>
          </button>
          <button>
            <a href="produkt-widok">
              <div class="link">
                Produkt
              </div>
            </a>
          </button>
          <button>
            <a href="">
              <div class="link">
                Powrót
              </div>
            </a>
          </button>
        </div>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>