.top-panel {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5em;
  background-color: #555;
  box-shadow: 0 5px #343434;
  padding-top: 0.75em;
}

.footer {
  width: 100%;
  height: 1em;
  background-color: #444;
  text-align: center;
  padding: 0.5em 0;
}

.profile-panel {
  margin: 6em auto;
  width: 80%;
  max-width: 80em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 1em;
  background-color: #222244;
  box-shadow: 0 5px #121234;
}

.admin-dashboard-panel {
  margin: 6em auto;
  width: 80%;
  max-width: 80em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 1em;
  background-color: #442222;
  box-shadow: 0 5px #341212;
}

.edit-panel {
  margin: 6em auto;
  width: 80%;
  max-width: 80em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 1em;
  background-color: #223355;
  box-shadow: 0 5px #122445;
}

.sub-panel {
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #ffffff11;
  box-shadow: 0 5px #00000033;
}

.scroller-sub-panel {
  height: 450px;
  overflow-y: scroll;

  margin: 1em 0;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #00000000;
  box-shadow: 0 5px #00000000;
}

.sub-sub-panel {
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #ffffff33;
  box-shadow: 0 5px #00000055;
}

p {
  margin: 1em;
  font-size: 30px;
  text-align: center;
}

h1 {
  display: inline-block;
  margin-left: 15px;
}

h3 {
  margin: 0;
}
