<html>
<head>
  <title>Profil użytkownika</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="panel-uzytkownika.component.css">
</head>
<body>
  <div class ="main-container">
    <div class="nav-container">
      Panel użytkownika
    </div>
    <div class="component-container">
<!--      <app-panel-profilu></app-panel-profilu>-->
<!--      <app-panel-edycji></app-panel-edycji>-->
<!--      <app-panel-administratora></app-panel-administratora>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
