<html>
  <head>
    <title>Produkt</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="produkt-dodanie.component.css">
  </head>
  <body>
    <div class="product-panel">
      <p>Dodaj produkt</p>
      <div class="sub-panel">
        <h1>Nazwa produktu:</h1>
        <div style="display: block">
        <input type="text" (blur)="blurEventName($event)">
        <h3>{{name}}</h3>
        </div>
        <h1>Link do zdjęcia produktu:</h1>
        <div style="display: block">
        <input type="text" (blur)="blurEventImage($event)">
        <h3>{{image}}</h3>
        </div>
      </div>
      <div class="sub-panel">
            <h1>Dane produktu:</h1>
            <h3>Opis:</h3>
            <div style="display: block">
              <input type="text" (blur)="blurEventDescription($event)">
            <h3>{{description}}</h3>
            </div>
            <h3>Kategoria: </h3>
            <div style="display: block">
              <input type="text" (blur)="blurEventCategory($event)">
            <h3>{{category}}</h3>
            </div>
            <div>
              <button>
                <a href="">
                  <div class="link">
                    Zapisz
                  </div>
                </a>
                </button>
            </div>
      </div>
    </div>
  </body>
</html>