.container-fluid{
  background-image: url("src/assets/gradient_background.jpg");
}

.report-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 30.5vw;
}

.report-element {
  border: solid 1px #cccccc;
  background-color: #1f2123;
  border-radius: 5px;

  padding-bottom: 5px;
  padding-top: 5px;
}

.awaiting {

}

.rejected {

}

.report-element {
  padding-right: 0;
  padding-left: 0;
}

.report-element-product {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  height: 36px;
  text-align: left;
  font-weight: 300;
}

.report-element-description {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  height: 36px;
  margin-bottom: 8px;
  text-align: left;
  font-weight: 300;
}

.report-element-user {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px;
  height: 36px;
  text-align: left;
  font-weight: 300;
}

.btn {
  margin-top: 8px
}

.btn-accept {

}

.btn-decline {
}
