<!--
<router-outlet></router-outlet>
-->
<html>
<body>
  <section class="container-fluid min-vh-100 vw-100">
    <div class="container py-1 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">

          <p class="text-primary">ADMINISTRATOR VIEW</p>
          <button class="btn btn-outline-light btn-lg px-5" (click)="onPressed()">Wyświetl sugestie</button>

        </div>
      </div>
    </div>
  </section>
</body>
</html>
<!--
<button type="submit" (click)="onSignInPressed()">Wyświetl Zgłoszenia</button>
<div *ngFor="let report of reports">
  <app-all-reports-admin [report]="report"></app-all-reports-admin>
</div>
-->
